body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/** Header styles **/
.header {
  background-image: url(https://lh3.googleusercontent.com/H0K7bnRci0mpbfajm5v76-X05JbHhTa2RpzHVvr4pnbGMaFUS0e5jQWkBD4GxRIgIKtwoxeX-mFa1HnvLIkjO7mwWF_QJbaDwYcTkksSDaLAnwgoQ_0AlEapOT8fWdmrTTyosOuZkjPnB9kTQKWc8_A-1wXLjKTiOdWjGANwfv7rEdW9udHCtGrMdvfTxFlVXuX7eyweVcVIidp4VcxeCOHwAOVjMQxNqywSs9Vkh0kGDhtcE3tEmRlUtAhJ8el6UWvcM3PyR1wA2oeq-TrtPFpwfKbYr8wBPWDf1sDM3s03RzNIbWP7mZtjP2hqK4wGQ9ZwBVCAmxs4pP7ZvZFdb5RaW9AALj8_tKR20FAbuBq3cKcpGECqqYcs266i-UKbBqpd4HAm6Q1qIh-RW4y98VRcJ6ZIzQxfM09szttXGw6UaHdM6IBB0wkoUBHryGeEnEiylrgIFOh60l7_xlNqTQyjRgYcyHGNPlE4i5XXdxgOfOZq4GnhWXCfViydqr5KPZ9d_f-VmHPvuwT1_jgBEdTXpFfDSTw-3__ILLL8Vscmt7OMz75u0CZw1imOwFtu1tRCqGveaKyBww3YU9rwFG_CuUmlF4nZZwese6N6=w496-h880-no);
  height: 400px;
  background-position: center center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #DBA67B;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: #3B3833;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
}

/* Roast types */
.green {
  background-color: #95E1F7;
}

.light {
  background-color: rgb(233, 106, 165);
}

.city {
  background-color: #FC4349;
}

.vienna {
  background-color:#540032;
}

.italian {
  background-color: #082E41;
}

/* Typography */
h1 {
  color: #2d84af;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 35%;
}

h2 {
  color: rgb(235, 115, 10);
  font-family: 'Anton',;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #41292C;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-family: 'Graduate';
  font-size: 20px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}
footer p{
  text-align: center;
  font-size: small;
}
p {
  color: #444444;
  line-height: 32px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
